<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juned.dicodingstoryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingStoryApp">
        <activity
            android:name=".ui.widget.app.StoriesWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".ui.widget.app.StoriesWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/story_widget_info" />
        </receiver>

        <activity
            android:name=".ui.view.story.DetailStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.story.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.story.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.juned.dicodingstoryapp.ui.widget.app.StoriesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>